
a {
    color: #81be89;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
html {
  background: #f5f5f5;
  height: 100%;
}







@font-face {
    font-family: PressStart2PRegular;
    src: url(/static/font/PressStart2P.ttf);
}
@font-face {
    font-family: Setperset;
    src: url(/static/font/Setperset-Regular.otf);
}
@font-face {
    font-family: Aegyptus;
    src: url(/static/font/AegyptusR.ttf);
}

h1 {
    font-weight: normal;
    font-style: normal;
    font-size: 30pt;
    color: #81be89;
}
/* h1:after { */
/*     content: ""; */
/*     display: block; */
/*     width: 100%; */
/*     height: 1px; */
/*     background-color: #ddd; */
/* } */


body {
    text-align: center;
    padding: 100px 0px;
    color: #555;
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+    */
}

.logo {
    height: 200px;
    widht: 200px;
}

.digital-font {
    /* font-family: 'PressStart2PRegular'; */
    font-family: 'Setperset';
}

.native-font {
        font-family: 'Aegyptus';
        font-size: 38pt;
        /* padding-left: 15pt; */
}
