doctype html
html lang="pt-BR"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content="Site da Digital Iko Tema"

    title Iko Tema

    link href="static/css/estilo.css" rel="stylesheet"

  body

    img.logo src="static/img/arvore.gif"

    h1
      span.digital-font Digital
      span.native-font Iko Tema

    p
      strong:a href="https://pt.wikipedia.org/wiki/L%C3%ADngua_guarani" Guarani:
      ,
      a href="http://www.geocities.ws/indiosbr_nicolai/dooley/ptgn.html" -iko tema → viver em liberdade
    p
      em Viver em liberdade digital.
